@mixin background {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

@mixin primary {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

@mixin primary-container {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

@mixin secondary {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

@mixin secondary-container {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

@mixin tertiary {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

@mixin tertiary-container {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}
