@mixin color-vars-adapter-astro {
  --md-sys-color-light-primary: var(--lightPrimary);
  --md-sys-color-light-on-primary: var(--lightOnPrimary);
  --md-sys-color-light-primary-container: var(--lightPrimaryContainer);
  --md-sys-color-light-on-primary-container: var(--lightOnPrimaryContainer);
  --md-sys-color-light-secondary: var(--lightSecondary);
  --md-sys-color-light-on-secondary: var(--lightOnSecondary);
  --md-sys-color-light-secondary-container: var(--lightSecondaryContainer);
  --md-sys-color-light-on-secondary-container: var(--lightOnSecondaryContainer);
  --md-sys-color-light-tertiary: var(--lightTertiary);
  --md-sys-color-light-on-tertiary: var(--lightOnTertiary);
  --md-sys-color-light-tertiary-container: var(--lightTertiaryContainer);
  --md-sys-color-light-on-tertiary-container: var(--lightOnTertiaryContainer);
  --md-sys-color-light-error: var(--lightError);
  --md-sys-color-light-on-error: var(--lightOnError);
  --md-sys-color-light-error-container: var(--lightErrorContainer);
  --md-sys-color-light-on-error-container: var(--lightOnErrorContainer);
  --md-sys-color-light-background: var(--lightBackground);
  --md-sys-color-light-on-background: var(--lightOnBackground);
  --md-sys-color-light-surface: var(--lightSurface);
  --md-sys-color-light-on-surface: var(--lightOnSurface);
  --md-sys-color-light-surface-variant: var(--lightSurfaceVariant);
  --md-sys-color-light-on-surface-variant: var(--lightOnSurfaceVariant);
  --md-sys-color-light-outline: var(--lightOutline);
  --md-sys-color-light-outline-variant: var(--lightOutlineVariant);
  --md-sys-color-light-shadow: var(--lightShadow);
  --md-sys-color-light-scrim: var(--lightScrim);
  --md-sys-color-light-inverse-surface: var(--lightInverseSurface);
  --md-sys-color-light-inverse-on-surface: var(--lightInverseOnSurface);
  --md-sys-color-light-inverse-primary: var(--lightInversePrimary);
  --md-sys-color-light-surface-dim: var(--lightSurfaceDim);
  --md-sys-color-light-surface-bright: var(--lightSurfaceBright);
  --md-sys-color-light-surface-container-lowest: var(--lightSurfaceContainerLowest);
  --md-sys-color-light-surface-container-low: var(--lightSurfaceContainerLow);
  --md-sys-color-light-surface-container: var(--lightSurfaceContainer);
  --md-sys-color-light-surface-container-high: var(--lightSurfaceContainerHigh);
  --md-sys-color-light-surface-container-highest: var(--lightSurfaceContainerHighest);
  --md-sys-color-dark-primary: var(--darkPrimary);
  --md-sys-color-dark-on-primary: var(--darkOnPrimary);
  --md-sys-color-dark-primary-container: var(--darkPrimaryContainer);
  --md-sys-color-dark-on-primary-container: var(--darkOnPrimaryContainer);
  --md-sys-color-dark-secondary: var(--darkSecondary);
  --md-sys-color-dark-on-secondary: var(--darkOnSecondary);
  --md-sys-color-dark-secondary-container: var(--darkSecondaryContainer);
  --md-sys-color-dark-on-secondary-container: var(--darkOnSecondaryContainer);
  --md-sys-color-dark-tertiary: var(--darkTertiary);
  --md-sys-color-dark-on-tertiary: var(--darkOnTertiary);
  --md-sys-color-dark-tertiary-container: var(--darkTertiaryContainer);
  --md-sys-color-dark-on-tertiary-container: var(--darkOnTertiaryContainer);
  --md-sys-color-dark-error: var(--darkError);
  --md-sys-color-dark-on-error: var(--darkOnError);
  --md-sys-color-dark-error-container: var(--darkErrorContainer);
  --md-sys-color-dark-on-error-container: var(--darkOnErrorContainer);
  --md-sys-color-dark-background: var(--darkBackground);
  --md-sys-color-dark-on-background: var(--darkOnBackground);
  --md-sys-color-dark-surface: var(--darkSurface);
  --md-sys-color-dark-on-surface: var(--darkOnSurface);
  --md-sys-color-dark-surface-variant: var(--darkSurfaceVariant);
  --md-sys-color-dark-on-surface-variant: var(--darkOnSurfaceVariant);
  --md-sys-color-dark-outline: var(--darkOutline);
  --md-sys-color-dark-outline-variant: var(--darkOutlineVariant);
  --md-sys-color-dark-shadow: var(--darkShadow);
  --md-sys-color-dark-scrim: var(--darkScrim);
  --md-sys-color-dark-inverse-surface: var(--darkInverseSurface);
  --md-sys-color-dark-inverse-on-surface: var(--darkInverseOnSurface);
  --md-sys-color-dark-inverse-primary: var(--darkInversePrimary);
  --md-sys-color-dark-surface-dim: var(--darkSurfaceDim);
  --md-sys-color-dark-surface-bright: var(--darkSurfaceBright);
  --md-sys-color-dark-surface-container-lowest: var(--darkSurfaceContainerLowest);
  --md-sys-color-dark-surface-container-low: var(--darkSurfaceContainerLow);
  --md-sys-color-dark-surface-container: var(--darkSurfaceContainer);
  --md-sys-color-dark-surface-container-high: var(--darkSurfaceContainerHigh);
  --md-sys-color-dark-surface-container-highest: var(--darkSurfaceContainerHighest);
}
