@mixin light {
  --md-sys-color-primary: var(--md-sys-color-light-primary);
  --md-sys-color-on-primary: var(--md-sys-color-light-on-primary);
  --md-sys-color-primary-container: var(--md-sys-color-light-primary-container);
  --md-sys-color-on-primary-container: var(--md-sys-color-light-on-primary-container);
  --md-sys-color-secondary: var(--md-sys-color-light-secondary);
  --md-sys-color-on-secondary: var(--md-sys-color-light-on-secondary);
  --md-sys-color-secondary-container: var(--md-sys-color-light-secondary-container);
  --md-sys-color-on-secondary-container: var(--md-sys-color-light-on-secondary-container);
  --md-sys-color-tertiary: var(--md-sys-color-light-tertiary);
  --md-sys-color-on-tertiary: var(--md-sys-color-light-on-tertiary);
  --md-sys-color-tertiary-container: var(--md-sys-color-light-tertiary-container);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-light-on-tertiary-container);
  --md-sys-color-error: var(--md-sys-color-light-error);
  --md-sys-color-on-error: var(--md-sys-color-light-on-error);
  --md-sys-color-error-container: var(--md-sys-color-light-error-container);
  --md-sys-color-on-error-container: var(--md-sys-color-light-on-error-container);
  --md-sys-color-background: var(--md-sys-color-light-background);
  --md-sys-color-on-background: var(--md-sys-color-light-on-background);
  --md-sys-color-surface: var(--md-sys-color-light-surface);
  --md-sys-color-on-surface: var(--md-sys-color-light-on-surface);
  --md-sys-color-surface-variant: var(--md-sys-color-light-surface-variant);
  --md-sys-color-on-surface-variant: var(--md-sys-color-light-on-surface-variant);
  --md-sys-color-outline: var(--md-sys-color-light-outline);
  --md-sys-color-outline-variant: var(--md-sys-color-light-outline-variant);
  --md-sys-color-shadow: var(--md-sys-color-light-shadow);
  --md-sys-color-scrim: var(--md-sys-color-light-scrim);
  --md-sys-color-inverse-surface: var(--md-sys-color-light-inverse-surface);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-light-inverse-on-surface);
  --md-sys-color-inverse-primary: var(--md-sys-color-light-inverse-primary);
  --md-sys-color-surface-dim: var(--md-sys-color-light-surface-dim);
  --md-sys-color-surface-bright: var(--md-sys-color-light-surface-bright);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-light-surface-container-lowest);
  --md-sys-color-surface-container-low: var(--md-sys-color-light-surface-container-low);
  --md-sys-color-surface-container: var(--md-sys-color-light-surface-container);
  --md-sys-color-surface-container-high: var(--md-sys-color-light-surface-container-high);
  --md-sys-color-surface-container-highest: var(--md-sys-color-light-surface-container-highest);
}

@mixin dark {
  --md-sys-color-primary: var(--md-sys-color-dark-primary);
  --md-sys-color-on-primary: var(--md-sys-color-dark-on-primary);
  --md-sys-color-primary-container: var(--md-sys-color-dark-primary-container);
  --md-sys-color-on-primary-container: var(--md-sys-color-dark-on-primary-container);
  --md-sys-color-secondary: var(--md-sys-color-dark-secondary);
  --md-sys-color-on-secondary: var(--md-sys-color-dark-on-secondary);
  --md-sys-color-secondary-container: var(--md-sys-color-dark-secondary-container);
  --md-sys-color-on-secondary-container: var(--md-sys-color-dark-on-secondary-container);
  --md-sys-color-tertiary: var(--md-sys-color-dark-tertiary);
  --md-sys-color-on-tertiary: var(--md-sys-color-dark-on-tertiary);
  --md-sys-color-tertiary-container: var(--md-sys-color-dark-tertiary-container);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-dark-on-tertiary-container);
  --md-sys-color-error: var(--md-sys-color-dark-error);
  --md-sys-color-on-error: var(--md-sys-color-dark-on-error);
  --md-sys-color-error-container: var(--md-sys-color-dark-error-container);
  --md-sys-color-on-error-container: var(--md-sys-color-dark-on-error-container);
  --md-sys-color-background: var(--md-sys-color-dark-background);
  --md-sys-color-on-background: var(--md-sys-color-dark-on-background);
  --md-sys-color-surface: var(--md-sys-color-dark-surface);
  --md-sys-color-on-surface: var(--md-sys-color-dark-on-surface);
  --md-sys-color-surface-variant: var(--md-sys-color-dark-surface-variant);
  --md-sys-color-on-surface-variant: var(--md-sys-color-dark-on-surface-variant);
  --md-sys-color-outline: var(--md-sys-color-dark-outline);
  --md-sys-color-outline-variant: var(--md-sys-color-dark-outline-variant);
  --md-sys-color-shadow: var(--md-sys-color-dark-shadow);
  --md-sys-color-scrim: var(--md-sys-color-dark-scrim);
  --md-sys-color-inverse-surface: var(--md-sys-color-dark-inverse-surface);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-dark-inverse-on-surface);
  --md-sys-color-inverse-primary: var(--md-sys-color-dark-inverse-primary);
  --md-sys-color-surface-dim: var(--md-sys-color-dark-surface-dim);
  --md-sys-color-surface-bright: var(--md-sys-color-dark-surface-bright);
  --md-sys-color-surface-container-lowest: var(--md-sys-color-dark-surface-container-lowest);
  --md-sys-color-surface-container-low: var(--md-sys-color-dark-surface-container-low);
  --md-sys-color-surface-container: var(--md-sys-color-dark-surface-container);
  --md-sys-color-surface-container-high: var(--md-sys-color-dark-surface-container-high);
  --md-sys-color-surface-container-highest: var(--md-sys-color-dark-surface-container-highest);
}
