---
import Layout from '../layouts/Layout.astro';

import FilledButton from '../components/umdc/button/FilledButton.astro';
import OutlinedButton from '../components/umdc/button/OutlinedButton.astro';
import ElevatedButton from '../components/umdc/button/ElevatedButton.astro';
---

<Layout>
  <FilledButton size='small'>Content</FilledButton>
  <FilledButton size='small' disabled>Content</FilledButton>

  <br/>

  <FilledButton size='medium'>Content</FilledButton>
  <FilledButton size='medium' disabled>Content</FilledButton>

  <br/>

  <FilledButton size='large'>Content</FilledButton>
  <FilledButton size='large' disabled>Content</FilledButton>

  <br/>

  <OutlinedButton size='small'>Content</OutlinedButton>
  <OutlinedButton size='small' disabled>Content</OutlinedButton>

  <br/>

  <OutlinedButton size='medium'>Content</OutlinedButton>
  <OutlinedButton size='medium' disabled>Content</OutlinedButton>

  <br/>

  <OutlinedButton size='large'>Content</OutlinedButton>
  <OutlinedButton size='large' disabled>Content</OutlinedButton>

  <br/>

  <ElevatedButton size='small'>Content</ElevatedButton>
  <ElevatedButton size='small' disabled>Content</ElevatedButton>

  <br/>

  <ElevatedButton size='medium'>Content</ElevatedButton>
  <ElevatedButton size='medium' disabled>Content</ElevatedButton>

  <br/>

  <ElevatedButton size='large'>Content</ElevatedButton>
  <ElevatedButton size='large' disabled>Content</ElevatedButton>

  <hr/>

  <div class="md-typescale-display-large">Display Large</div>
  <div class="md-typescale-display-medium">Display Medium</div>
  <div class="md-typescale-display-small">Display Small</div>

  <hr/>

  <div class="md-typescale-headline-large">Headline Large</div>
  <div class="md-typescale-headline-medium">Headline Medium</div>
  <div class="md-typescale-headline-small">Headline Small</div>

  <hr/>

  <div class="md-typescale-title-large">Title Large</div>
  <div class="md-typescale-title-medium">Title Medium</div>
  <div class="md-typescale-title-small">Title Small</div>

  <hr/>

  <div class="md-typescale-body-large">Body Large</div>
  <div class="md-typescale-body-medium">Body Medium</div>
  <div class="md-typescale-body-small">Body Small</div>

  <hr/>

  <div class="md-typescale-label-large">Label Large</div>
  <div class="md-typescale-label-medium">Label Medium</div>
  <div class="md-typescale-label-small">Label Small</div>

  <hr/>

  <div class="block corner-none">None</div>

  <hr/>

  <div class="block corner-extra-small">Extra Small</div>

  <hr/>

  <div class="block corner-small">Small</div>

  <hr/>

  <div class="block corner-medium">Medium</div>

  <hr/>

  <div class="block corner-large">Large</div>

  <hr/>

  <div class="block corner-extra-large">Extra Large</div>

  <hr/>

  <div class="block corner-full">Full</div>
</Layout>

<style lang="scss">
  @use '../styles/umdc/colors' as md-colors;
  @use '../styles/umdc/typescales' as md-typescales;
  @use '../styles/umdc/shapes' as md-shapes;

  div.block {
    width: 96px;
    height: 96px;

    @include md-colors.tertiary-container;
  }

  div.corner {
    &-none {
      @include md-shapes.corner-none;
    }

    &-extra-small {
      @include md-shapes.corner-extra-small;
    }

    &-small {
      @include md-shapes.corner-small;
    }

    &-medium {
      @include md-shapes.corner-medium;
    }

    &-large {
      @include md-shapes.corner-large;
    }

    &-extra-large {
      @include md-shapes.corner-extra-large;
    }

    &-full {
      @include md-shapes.corner-full;
    }
  }
</style>
