@mixin all {
  --md-sys-elevation-level0: 0;
  --md-sys-elevation-level1: 0.05;
  --md-sys-elevation-level2: 0.08;
  --md-sys-elevation-level3: 0.11;
  --md-sys-elevation-level4: 0.12;
  --md-sys-elevation-level5: 0.14;
}

