---

const { size = 'small' } = Astro.props;

export interface Props {
  size?: 'small' | 'medium' | 'large';
  disabled?: boolean;
}
---
<button class="button" class:list={[ size ]} {...Astro.props}>
  <slot></slot>
</button>

<style lang="scss">
  @use '../../../styles/umdc/colors' as md-colors;
  @use '../../../styles/umdc/typescales' as md-typescales;
  @use '../../../styles/umdc/shapes' as md-shapes;
  @use '../../../styles/umdc/transitions' as md-transitions;

  .button {
    outline: 0;
    border: 0px;
    position: relative;

    @include md-transitions.button;

    color: var(--md-comp-button-filled-label-text-color);
    background-color: var(--md-comp-button-filled-container-color);
    box-shadow: var(--md-comp-button-filled-container-elevation);

    &:active {
      @include md-shapes.corner-small;
    }

    &:disabled {
      pointer-events: none;

      background-color: color-mix(in srgb, var(--md-sys-color-on-surface) 10%, transparent);
      color: color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent);

      &::before {
        display: none;
      }
    }
  }

  .button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--md-sys-color-on-primary);
    opacity: 0;

    content: '';
  }

  .button:hover::before {
    background-color: var(--md-comp-button-filled-hovered-state-layer-color);
    opacity: var(--md-comp-button-filled-hovered-state-layer-opacity);
  }

  .button:active::before {
    background-color: var(--md-comp-button-filled-pressed-state-layer-color);
    opacity: var(--md-comp-button-filled-pressed-state-layer-opacity);
  }

  .small {
    height: 40px;

    padding: 0px 24px 0px 24px;

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    font-weight: var(--md-ref-typeface-weight-medium);

    border-radius: 20px;
  }

  .medium {
    height: 56px;

    padding: 0px 24px 0px 24px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    font-weight: var(--md-ref-typeface-weight-medium);

    border-radius: 28px;
  }

  .large {
    height: 96px;

    padding: 0px 48px 0px 48px;

    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
    font-weight: var(--md-ref-typeface-weight-regular);

    border-radius: 48px;
  }
</style>
